body{
  padding-top: 70px;
  color:#dee1e5;
  background: #bdc3c7; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #bdc3c7 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
font-family: 'Lato', sans-serif;
        
}


.navbar-inverse{
            background-color:#2c3e50;
          }

#blueHeader{
  width:100%;
}

#divider{
  background-color: #222222
  height: 20px;
  width: 100%;
  position: relative;
}

.jumbotron{
  background: url("header.png");
}

#head-shot{
  position: relative;
  top: 40px;
  height: 200px;
  border: solid 7px #2C3E50;

}

#inline{
  position:absolute;
  right: 10%;
}

#contact{
  padding-left:10%;
  background-color: #2C3E50;
}



.float{
  position:relative;
  bottom: 150px;
  left: 200px;

}

#blurb{
  position: relative;
  bottom: 50px;
}

#moreCirc {
  width: 200px;
  height: 200px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50%;
  background-color: #EF940F;
  text-align: center;
  margin: auto;


}


#moreToComeText{
  position: relative;
  top:70px;
  left: 20px;
}
 
  
